:root{
   --clr-very-dark-blue:#1e202a;
   --clr-toggle-light:#f1f3fa;
   --clr-white: #ffffff;
   --clr-card-bg: #252a41;
   --clr-card-bg-light: #e8eaf0;
   --clr-bg-top:#20222f;
   --clr-bg-top-light:#e8eaf0;
   --clr-gradient: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
   --clr-gradient-light: #aeb3cb;
   --clr-desaturated-blue:#8b97c6;
   --clr-hover-light: #e1e4f0;
   --clr-hover-dark: #333a55;
   --clr-lime-green:#1db489;
   --clr-red:#dc414c;
   
}


$facebook: hsl(208, 92%, 53%);
$twitter: #1da1f2;
$instagram: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
$youtube: hsl(348, 97%, 39%);
$card-colors: $facebook, $twitter, $instagram, $youtube;

//text
$dark-grayish-blue: #63687e;

//font
$inter: "Inter", sans-serif;
$regular: 400;
$bold: 700;

$font-xs: 1.2rem;
$font-sm: 1.4rem;
$font-md: 2.4rem;
$font-md-lg: 2.8rem;
$font-lg: 3.2rem;
$font-xl: 5.6rem;
